:root {
    --nord0: #2f3541;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;

    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;

    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;

    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;

    --accentcolor: #e73f24;
    --secondarycolor: #8b2616;
    --tertiarycolor: #e9523a;
    --pureblack: #000000;
    --darknord2: #1b1e26;

}

@font-face {
    font-family: SometypeMono;
    src: url(assets/fonts/SometypeMono-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: SometypeMonoBold;
    src: url(assets/fonts/SometypeMono-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: SometypeMonoItalic;
    src: url(assets/fonts/SometypeMono-RegularItalic.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: SometypeMonoBoldItalic;
    src: url(assets/fonts/SometypeMono-BoldItalic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ChesnaGrotesk;
    src: url(assets/fonts/ChesnaGrotesk-Medium.otf);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}


html{
    background-color: var(--pureblack);
    height: 100%;
    font-size: 100%;
}

.openimu{
    .header{
        background: linear-gradient(30deg, rgba(27,30,38,1) 0%, rgba(231,63,36,1) 50%, rgba(191,97,106,1) 100%);
    }
}

.header{
    margin-top: 0.625rem;
    
    background: linear-gradient(120deg, rgba(231,63,36,1) 0%, rgba(139,38,22,1) 50%, rgba(191,97,106,1) 100%);;
    color: var(--nord4);
    border-radius: 0.3125rem;

    font-family: ChesnaGrotesk;
    text-align: center;
    padding: 1.875rem;
}

.header h1{
    font-family: ChesnaGrotesk;
    font-size: 3.125rem;
    font-synthesis: none;

    color:var(--nord6);
}

.nav{
    overflow: hidden;
    font-family: ChesnaGrotesk;
    border-radius: 0.3125rem;

    background-color: var(--accentcolor);
}

.nav a{
    display: block;
    float: left;
    padding: 0.875rem 1rem;
    transition: background-color .5s;

    color: var(--nord6);

    text-align: center;
    text-decoration: none;
}

.nav a:hover:not(#currentpage){
    background-color: var(--pureblack);
}

#currentpage{
    background-color: var(--secondarycolor);
}

.Left{
    flex-grow: 1;
}

.Right{
    max-width: 33%;
}

.block{
    background-color: var(--darknord2);
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-right: 1.25rem;

    box-sizing: border-box;
    border: 0.125rem solid var(--nord3);
    border-radius: 0.625rem;
}

.block h1 {
    color: var(--nord4);
    font-family: SometypeMonoBold;
    font-synthesis: none;

    margin-top: 0.3125rem;
    display: inline-block;
    margin-right: auto;

    border-bottom: solid var(--accentcolor);
}

.block h2 {
    color: var(--nord5);
    font-family: ChesnaGrotesk;
    font-size: 1.5rem;
    font-synthesis: none;

    margin-top: 0;
}

.block h3{
    color: var(--tertiarycolor);
    font-family: ChesnaGrotesk;
    font-size: 1.25rem;
    font-synthesis: none;

    margin-top: 0;
}

.block ul, .block ol{
    color: var(--nord6);
    font-family: ChesnaGrotesk;
    font-size: 1.125rem;
    line-height: 2rem;
}

.block a{
    text-decoration: underline;
    color: var(--tertiarycolor);
}

.block img{
    border: .3rem solid var(--tertiarycolor);
    border-radius: .5rem;
    width: 60%;
    margin-top: 3rem;
}

.block p{
    margin-bottom: 0.3125rem;
    font-size: 1rem;
}

.row{
    display: flex;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .Left, .Right{
      width: 100%;
    }
}

.footer{
    padding: 1.25rem;
    background-color: var(--secondarycolor);

    text-align: center;
    position: absolute;
    align-self: center;
    left: 2.5%;
    font-family: SometypeMono;
    color: var(--nord4);

    width: 95%;
    margin-top: 0.625rem;
    box-sizing: border-box;
    border: 0.125rem solid var(--accentcolor);
    border-radius: 0.625rem;
}

.footer a{
    color: var(--nord6);
    font-family: SometypeMonoItalic;
}

hr{
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    margin-right: 25vw;

    border: 0.125rem solid var(--nord2);
    border-radius: 0.1875rem;
}

p {
    color:var(--nord6);

    font-family: ChesnaGrotesk;
    font-size: 0.75rem;
}
